body {
  margin: 0;
}

.content {
  display: grid;
  grid-template: 15vh 70vh 15vh / 1fr 1fr 1fr;
}

.content > div {
  padding: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: lightcoral;
  grid-column-end: span 3;
}

.sidebar {
  background-color: lightsalmon;
  float: left;
}

.main {
  background-color: lightblue;
  grid-column-end: span 2;
}

.footer {
  background-color: lightgreen;
  grid-column-end: span 3;
}
