body {
  margin: 0;
}

.content {
  width: 100vw;
  height: 100vh;
}

.content > div {
  box-sizing: border-box;
  padding: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: lightcoral;
  height: 15vh;
}

.sidebar {
  background-color: lightsalmon;
  float: left;
  width: 20vw;
  height: 70vh;
}

.main {
  background-color: lightblue;
  width: 80vw;
  height: 70vh;
  float: left;
}

.footer {
  background-color: lightgreen;
  height: 15vh;
  clear: both;
}
